@import url("/.where-the-magic-is/global.css");

.headline {
  font-family: "Allison", Geneva, Verdana, sans-serif;
  font-size: 72px;
  background-color: white;
  padding-bottom: 10px;
}

.flipcard {
  transform: rotateY(180deg);
}

.card {
  font-family: "Handlee";
  font-size: 32px;
}

.title {
  font-family: "Allison";
  font-size: 72px;
}
