/* pacifico-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/pacifico-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* great-vibes-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/great-vibes-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gluten-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gluten";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/gluten-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* allison-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Allison";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/allison-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* handlee-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/handlee-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* peralta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Peralta";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/peralta-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --width: 100%;
  --height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.card section {
  position: absolute;
  width: var(--width);
  height: var(--height);
  max-width: 500px;
  max-height: 790px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;
}

@media (max-width: 500px) {
  .card section {
    max-height: 100vh;
  }
}

.front {
  position: relative;
  background-color: white;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
  display: flex;
  flex-direction: column;
  border: 1rem solid white;
}

.back {
  padding: 1em;
  background-color: #fff;
  transform: rotateY(180deg);
  display: grid;
  place-content: center;
}

.headline {
  text-align: center;
  position: absolute;
  font-size: 3rem;
  top: 60%;
  width: 100%;
  z-index: 2;
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

.postcardimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: opacity 1s ease-in;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  tp {
    opacity: 1;
  }
}
